#shop-cart{

    form{
        label{
            font-size: 14px;
            font-weight: 600 !important;

            color: $color-theme !important;
        }
        input:not([type="checkbox"]){
            font-weight: 500 !important;
            font-size: 13px;
        }
    }

    .cart-product-quantity{
        .quantity{

            .cartify-value-input,
            .cartify-update-btn{
                height : 40px !important;
                vertical-align: unset;
                border-style: solid;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                border-width: 1px !important;
                border-color: $color-theme;
                background-color: white;
                width : auto;
                min-width : 40px !important;
                padding: 2px !important;
                outline: unset;
            }


            @media (min-width: 768px) {
                .cartify-value-input+.cartify-update-btn{
                    margin-left: -1px;
                }
            }
            @media (max-width: 767px) {
                .cartify-value-input+.cartify-update-btn{
                    margin-top: -1px;
                }
            }

        }
    }


    //.cart-product-quantity .quantity button.update,
    //.cart-product-quantity .quantity input.qty{
    //    height : 40px !important;
    //    vertical-align: unset;
    //    border-style: solid;
    //    -webkit-border-radius: 0;
    //    -moz-border-radius: 0;
    //    border-radius: 0;
    //    border-width: 1px !important;
    //    border-color: $color-theme;
    //    background-color: white;
    //    width : auto;
    //    min-width : 40px !important;
    //    padding: 2px !important;
    //}

    #cart-qty {
        position: fixed;
        bottom: 76px;
        z-index: 199;
        right: 26px;
        width: 39px;
        height: 39px;
        overflow: visible;
    }

    #cart-qty i {
        line-height: 39px !important;
        width: 39px;
        height: 39px;
        text-align: center !important;
        position: absolute;
        top: 0 !important;
        left: 0 !important;
    }

    #cart-qty .badge {
        top: -2px;
        right: -2px;
    }

}

