@charset "UTF-8";
#pageMenu, #pageMenu:hover {
  overflow: visible !important;
}
#pageMenu #pageMenu-trigger {
  display: none;
}
#pageMenu a.active {
  color: #009688;
  cursor: default;
}
#pageMenu .dropdown > a.active {
  cursor: pointer;
}
#pageMenu nav, #pageMenu:hover nav {
  height: 100%;
}
#pageMenu nav > ul > li .dropdown-menu {
  padding: 7px 10px;
}
#pageMenu nav > ul > li .dropdown-submenu {
  width: 100%;
}
#pageMenu nav > ul > li .dropdown-submenu:not(.hover-active):hover > ul {
  display: block;
  animation: fade-in-out 0.3s ease;
}
#pageMenu nav > ul > li .dropdown-submenu:not(.hover-active):hover:before {
  right: 12px;
}
#pageMenu nav > ul > li .dropdown-submenu > .dropdown-menu {
  margin-left: -10px;
  left: 100%;
  top: -1px;
  z-index: 4;
}
#pageMenu nav > ul > li .dropdown-submenu:before {
  line-height: 40px;
  content: "";
  font-family: inspiro-icons;
  opacity: 0.6;
  position: absolute;
  right: 16px;
  color: #262626;
  font-size: 12px;
  transition: all 0.2s ease;
}

@font-face {
  font-family: "Font Awesome 5";
  src: url("../../../../webfonts/fa-solid-900.svg");
  src: url("../../../../webfonts/fa-solid-900.woff") format("woff"), url("../../../../webfonts/fa-solid-900.svg") format("svg");
}
/**
    GENERAL
 */
.dc-control-clone.sticky {
  position: fixed;
  width: 100%;
  z-index: 13 !important;
}

/**
    END GENERAL
 */
/**
    CONTROL
 */
.dc-control-container {
  padding: 10px 15px;
  border-radius: 4px;
}
.dc-control-container .dc-btn-group .dc-button.btn {
  opacity: 1;
  background-color: #009688;
  border: none !important;
  margin: 0 !important;
  border-radius: 0;
  /* -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 10px 20px rgba(0, 0, 0, 0.24) !important; */
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}
.dc-control-container .dc-btn-group .dc-button.btn:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dc-control-container .dc-btn-group .dc-button.btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.dc-control-container .dc-btn-group .dc-button.btn:disabled {
  background-color: rgba(0, 150, 136, 0.6);
  cursor: default;
}
.dc-control-container .dc-btn-group .dc-button.btn:hover {
  /*background-color: #0333e8;*/
  opacity: 1;
  border: 0 !important;
  /*margin: 0 !important;*/
  /* -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 5px 5px rgba(0, 0, 0, 0.23) !important; */
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}

.dc-control-filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
  display: inline-block;
}

.dc-control-filter input, .dc-control-filter select {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}

/**
    END CONTROL
 */
/**
    CARD
 */
.dc-card-btn-container {
  margin: 10px 5px;
  /*text-align: right;*/
}

.dc-card-btn-container .dc-button {
  opacity: 0.65 !important;
}

.dc-card-btn-container .dc-button:hover {
  opacity: 1 !important;
}

.dc-card-btn-container .dc-button.dc-remove {
  background-color: #fc4e4e !important;
  border-color: transparent;
}

.dc-card-btn-container .dc-button.dc-reOrder {
  background-color: #949596 !important;
  border-color: transparent;
}

.dc-card-btn-container .dc-button.test {
  background-color: black !important;
  border-color: transparent;
}

.ui-sortable-disabled .dc-card-btn-container .dc-button.dc-reOrder {
  opacity: 0.6;
  cursor: not-allowed !important;
}

.dc-card-container {
  position: relative;
  border: 2px solid transparent;
  background-color: white;
}

.dc-card .hide {
  display: none !important;
}

.dc-card-btn-container .dc-button,
.dc-card-btn-container .dc-button-select {
  width: 40px;
  height: 30px;
  line-height: 28px;
  display: inline-block;
  margin: 0 0 0 4px;
}

.dc-card-btn-container .dc-button.dc-select:hover,
.dc-card-btn-container .dc-button.dc-select {
  background-color: rgba(78, 114, 252, 0.1);
  border: 1px solid #4e72fc !important;
}

.dc-card.selected .dc-card-btn-container .dc-button.dc-select {
  border-color: #32b432 !important;
  background-color: #32b432;
}

.dc-card.selected .dc-card-btn-container .dc-button.dc-select i {
  visibility: visible;
}

.dc-card-btn-container .dc-button.dc-select i {
  visibility: hidden;
  color: white;
}

.dc-card .dc-button.btn {
  opacity: 0.8;
}

/**
    END CARD
 */
/**
    FIELD
 */
.dc-field-value, .dc-multi-field-value {
  display: none !important;
}

.dc-field-label {
  font-weight: bold;
}

.dc-multi-field-item {
  padding-left: 10px;
  padding-right: 10px;
}

.dc-multi-field-title {
  font-weight: bold;
}

.dc-multi-field-label, .dc-multi-field-display, .dc-multi-field-value {
  display: inline;
}

.pagination .page-item.disabled > .page-link {
  color: #a2a2a2 !important;
}

/**
    END FIELD
 */
/**
    EDITOR
 */
.modal.DTED .modal-dialog-scrollable .modal-content {
  max-height: initial;
  max-width: 800px;
}

/**
    END EDITOR
 */
/**
    TEMPLATE
 */
.dc-editor-template {
  display: flex;
  flex-flow: row wrap;
}

fieldset,
.dc-editor-template fieldset {
  border: 1px solid rgba(86, 86, 86, 0.6) !important;
  border-radius: 4px;
  margin-top: 5px;
  width: 100%;
  padding: 0.5em;
}

fieldset legend.dc-field-title,
.dc-editor-template fieldset legend {
  font-size: 12px;
  width: initial;
  padding: 0 10px;
  margin: 0;
  text-transform: capitalize;
}

.dc-editor-template div.DTE_Field {
  padding: 5px;
}

#dc-pagination ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
  justify-content: flex-end;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.modal.DTED .modal-dialog-scrollable .DTE_Action_Edit.modal-content,
.modal.DTED .modal-dialog-scrollable .DTE_Action_Create.modal-content {
  /*max-height: initial;*/
  max-width: 1200px;
  /*width: 100%;*/
  /*overflow: visible;*/
}

/**
    END TEMPLATE
 */
.dc-field-display {
  margin: 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.dc-field-display.highlight {
  background-color: rgba(78, 114, 252, 0.3);
}

.dc-card-container.highlight {
  background-color: rgba(78, 114, 252, 0.3);
  border: 1px solid rgba(78, 114, 252, 0.5);
}

.dc-card.selected .dc-card-container {
  background-color: rgba(78, 114, 252, 0.2);
  opacity: 1;
  /*border: 1px solid rgba(78, 114, 252, 0.5);*/
}

.dc-row-container .ui-sortable-placeholder.ui-state-highlight {
  background-color: rgba(78, 114, 252, 0.3);
  border: 1px solid rgba(78, 114, 252, 0.5);
  border-radius: 4px;
}

.dc-btn-panel .dc-button > a {
  color: unset !important;
}

.dc-field-display .badge {
  margin-left: 2px;
  vertical-align: middle;
  max-width: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dc-control-container .form-control {
  height: 25px !important;
  padding: 2px 10px;
  min-width: 100px;
}

.dc-control-container .table thead {
  border: 1px solid #ececec;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.dc-control-container .table thead th {
  border: 0;
  padding: 5px;
  min-width: 50px;
  position: relative;
}

.dc-control-container .table thead tr:first-child th.sort {
  cursor: pointer;
}

.dc-control-container .table thead tr:first-child th {
  padding: 10px 15px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.dc-control-container .table thead .dc-sort:before {
  right: 10px;
  content: "↑";
  position: absolute;
  bottom: 10px;
  display: block;
  opacity: 0.3;
}

.dc-control-container .table thead .dc-sort:after {
  right: 15px;
  content: "↓";
  position: absolute;
  bottom: 10px;
  display: block;
  opacity: 0.3;
}

.dc-control-container .table thead .dc-sort.sort_asc:after {
  opacity: 1;
}

.dc-control-container .table thead .dc-sort.sort_desc:before {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
