
.payment-element{
    border-radius: 3px;
    margin: 2px;
    padding: 2px;
    max-width: 125px;
    width: 100%;
    border:1px solid #009688 ;
    height: 100%;
}
.payment-img{
    max-width: 80px;
    max-height: 50px;
}